.header{
    background-color: royalblue;
    padding: 20px;
    display: grid;
    grid-template-columns: 80% 20%;
}

.navbar{
    color: white;
}

.navbar ul{
    list-style-type: none;
    margin: 0px;
    margin-top: 9px;
}

.navbar li{
    border-left: 2px solid aqua;
    float: left;
    padding-left: 10px;
    padding-right: 10px;
}

.navbar li:first-child{
    border-left: none;
}

.navbar li a{
    text-decoration: none;
    color:white;
    font-size: 25px;

}

.header span{
    font-size: 40px;
}

.mainbody{
    background-color:aqua;
}

.datamain{
    padding: 12px;
}

.datamain span{
    display: grid;
    grid-template-columns: 20% 80%;
    text-align:center;
    padding:6px;
    font-size: 20px;
    padding-left: 30%;
}

.datamain span input, .datamain span select{
    width: 30%;
    margin-left: 10%;
    border:none;
    padding: 5px;
    border-radius: 10px;
    outline: none;

}

.submitbar{
    text-align: center;
    padding :20px;
    background-color:royalblue;
}

.submitbar button{
    padding:12px;
    border-radius: 10px;
    border:none;
    width:5%;
    transition-duration: 250ms;
    opacity:0.5;
}

.submitbar button:hover { 
    opacity:1;
    width:7%;
}